.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo1{
    color: blueviolet;
    text-size-adjust: 40%;
}
.div2{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
margin-right: 200px;
}
#head1{
    color: blueviolet;
    text-size-adjust: 50px;
    
}
#head2{
    color: black;
}

li{
    display: inline-block;
    list-style-type: none;
    font-size: x-large;
    padding:15px 25px;
}

#image{
    margin-left: 55%;
    width: 360px;
    height: 400px;
    margin-top: -32%;
    border-radius: 40px;
    border: 7px solid red;
    
    
}

.btn {
    height: 40px;
    margin-left: 90%;
    margin-top:-70px;
    border: 1px solid blue;
    border-radius: 10px;
    color: blue;
}
p{
    margin-left: 30px;
}
.btn1{
background-color: blue;
height: 40px;
margin-right: 90%;
margin-top:40px;
border-radius: 10px;
color: rgb(220, 220, 235);
}
.cont{
    margin-left: 50px;
}
.btn4 h2{
    margin-left: 10px;
}
.btn3 h2{
    margin-left: 10px;
}
.btn3{
    background-color:rgb(189, 179, 179);
    height: 70px;
    width: 160px;
    margin-left:5px;
    font-size: small;
    margin-top:40px;
    border-radius: 10px;
    color: blue;
    }
    .btn4{
        background-color:rgb(189, 179, 179);
        height: 70px;
        width: 160px;
        margin-left:200px;
        font-size: small;
        margin-top:-85px;
        color: blue;

        border-radius: 10px;
        }
        .btn4 h6{
            color: aliceblue;
            margin-left: 10px;
            font-size: 12px;
            margin-top: 15px;
        }
        .btn3 h6{
            color: aliceblue;
            margin-left: 10px;
            font-size: 12px;
            margin-top: 15px;
        }